<div class="w-full absolute px-28 top-24">
    <div class="relative w-full flex justify-between pt-3">
        <div class="category max-w[25%] bg-white  fixed">
            <h3 class="category__heading font-bold text-[#00a859] p-3">DANH MỤC SẢN PHẨM</h3>
            <ul class="list-none">
                <li class="category__item font-bold py-2">
                    <a class="px-3" href="">BỘT MÌ, BỘT TRỘN SẴN</a>
                </li>
                <li class="category__item font-bold py-2">
                    <a class="px-3" href="">NGUYÊN LIỆU, PHỤ GIA THỰC PHẨM</a>
                </li>
                <li class="category__item font-bold py-2">
                    <a class="px-3" href="">HỘP, BAO BÌ, TEM NHÃN, DỤNG CỤ</a>
                </li>
                <li class="category__item font-bold py-2">
                    <a class="px-3" href="">THỰC PHẨM ĐÓNG GÓI</a>
                </li>
                <li class="category__item font-bold py-2">
                    <a class="px-3" href="">THỰC PHẨM KHÁC</a>
                </li>
            </ul>
        </div>
        <div class="product absolute right-0  max-w-[75%] pl-4">
            <div class="product__header py-3 bg-[#f7f8f9]">
                <h3 class="text-[#33333] font-bold text-lg pl-2">
                    Sản phẩm yêu thích
                </h3>
            </div>
            <div class="product__content">
                <div class="w-full flex">
                    <!-- 1 product -->
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product1.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bột Trộn Sẵn Bánh Muffin Chocolate 1kg/ Muffin Chocolate
                                1kg</h3>
                            <span class="product__content-price">57,000 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/product2.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bột Mì Xe Đạp Kim Cương 25kg/ Diamond Bicycle 25 PP</h3>
                            <span class="product__content-price">17,600 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/product3.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bột Trộn Sẵn Bông lan Plus 1kg</h3>
                            <span class="product__content-price">48,000 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product5.png"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Túi Bánh Mì Que</h3>
                            <span class="product__content-price">17,000 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product1.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bột Trộn Sẵn Bánh Muffin Chocolate 1kg/ Muffin Chocolate
                                1kg</h3>
                            <span class="product__content-price">57,000 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product4.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bột bánh bông lan & cookies 1kg Số 8 / Cake&cookies flour
                                1kg No.08 (10gói/thùng)</h3>
                            <span class="product__content-price">25,500 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
                <!-- row product -->
                <div class="w-full flex">
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product6.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bột Mì Xe Đạp Nâu 1 25kg / Brown 1 Bicycle 25 PP</h3>
                            <span class="product__content-price">15,200 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/product3.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Hương Sữa 6868 nắp trắng</h3>
                            <span class="product__content-price">120,000 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product8.jpg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Phụ gia bánh mì lạt 999 ( gói 500gr/ thùng 10kg)</h3>
                            <span class="product__content-price">80,000 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/product2.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bột Trộn Sẵn Bông Lan Easy 1kg / Spoge Cake Mix Easy 1kg
                            </h3>
                            <span class="product__content-price">67,000 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product6.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Phụ gia bánh mì ngọt 999 thùng 10kg </h3>
                            <span class="product__content-price">97,500 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product5.png"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Chà Bông Gà Ngon 250gr</h3>
                            <span class="product__content-price">68,000 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
                <div class="w-full flex">
                    <!-- 1 product -->
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product6.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bột Mì Xe Đạp Hồng 25kg / Pink bicycle 25 PP</h3>
                            <span class="product__content-price">87,000 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product8.jpg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bột Trộn Sẵn Bánh Muffin Vani 1kg/ Vannila Muffin Mix 1kg
                            </h3>
                            <span class="product__content-price">117,500 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product1.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bánh OK vị pizza (cam)</h3>
                            <span class="product__content-price">37,800 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/product2.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Trứng gà tươi</h3>
                            <span class="product__content-price">57,000 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/product3.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bột Trộn Sẵn Bánh Muffin Chocolate 1kg/ Muffin Chocolate
                                1kg</h3>
                            <span class="product__content-price">127,800 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="bg-white w-2/12 p-3 flex flex-col h-auto relative border-bottom-right">
                        <div class="product__content-img w-full cursor-pointer">
                            <img src="../../../assets/Img/Product1.jpeg"
                                class="transition duration-500 ease-in-out w-full max-h-full object-contain h-[200px] hover:scale-110 px-3">
                        </div>
                        <div class="flex flex-col">
                            <h3 class="product__content-title">Bột Trộn Sẵn Bánh Muffin Chocolate 1kg/ Muffin Chocolate
                                1kg</h3>
                            <span class="product__content-price">57,000 ₫</span>
                            <button class="product__content-btn w-full flex ">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>