<div class="footer w-full bg-white absolute top-[210%] overflow-hidden">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0 w-2/4">
                <div class="flex flex-col">
                    <img src="../../../assets/Img/ngân huy logo ngang.jpeg" class="h-12 w-60" alt="FlowBite Logo" />
                    <p>
                        <span class="self-center text-base
                        font-bold ">Địa chỉ :</span>
                        36 Nguyễn Đỗ Cung, Phường Hoà Minh, Quận Liên Chiểu, Thành Phố Đà Nẵng
                    </p>
                </div>
                <div class="flex flex-col mt-6">
                    <h3 class="text-[#007DC5] font-bold text-lg">KÊNH THÔNG TIN</h3>
                    <div class="footer__list-icon flex">
                        <p class="mr-3">
                            <a class="facebook" target="_blank" title="facebook"
                                href="https://www.facebook.com/Nganhuyfoods"><img alt="facebook"
                                    src="https://115.78.228.208:20350/bvhsales/37gBp9YjWib0ltIMqWT0Honm54q2/footer/Facebook_f_logo_(2019).svg.png"
                                    class="h-[35px] "></a>
                        </p>
                        <p class="mr-3">
                            <a class="instagram" target="_blank" title="instagram"
                                href="https://www.facebook.com/Nganhuyfoods"><img alt="instagram"
                                    src="https://115.78.228.208:20350/bvhsales/37gBp9YjWib0ltIMqWT0Honm54q2/footer/Instagram_logo_2016.svg.webp"
                                    class="h-[35px] "></a>
                        </p>
                        <p class="mr-3">
                            <a class="youtube" target="_blank" title="youtube"
                                href="https://www.facebook.com/Nganhuyfoods"><img alt="youtube"
                                    src="https://115.78.228.208:20350/bvhsales/37gBp9YjWib0ltIMqWT0Honm54q2/footer/logo-youtube-nut-phat-youtube-png-385.jpeg"
                                    class="h-[35px] "></a>
                        </p>
                        <p>
                            <a class="tiktok" target="_blank" title="tiktok"
                                href="https://www.facebook.com/Nganhuyfoods"><img alt="tiktok"
                                    src="https://115.78.228.208:20350/bvhsales/37gBp9YjWib0ltIMqWT0Honm54q2/footer/1971e99be0d67160f34f39fb1d66a0e5_c5_720x720.jpeg"
                                    class="h-[35px] "></a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="w-2/4 grid grid-cols-2 gap-8 sm:gap-6 ">
                <div>
                    <h2 class="mb-6 text-lg text-[#007DC5] uppercase font-bold">VỀ CHÚNG TÔI</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium ">
                        <li class="mt-2 text-[#007DC5]">
                            <a href="" class="hover:text-[#008848]">Giới thiệu về chúng tôi</a>
                        </li>
                        <li class="mt-2 text-[#007DC5]">
                            <a href="" class="hover:text-[#008848]">Tin tức thường ngày</a>
                        </li>
                        <li class="mt-2 text-[#007DC5]">
                            <a href="" class="hover:text-[#008848]">Liên hệ với chúng tôi</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-lg text-[#007DC5] uppercase font-bold">HỖ TRỢ KHÁCH HÀNG
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4 text-[#007DC5]">
                            <a href="#" class="hover:text-[#008848]">Hotline CSKH: 0933.221.448</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center justify-center">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Bản quyền thuộc về<a
                    href="https://viethas.com/" class="hover:underline"> Công ty TNHH Giải pháp Công nghệ Viethas</a>.
            </span>
        </div>
    </div>
</div>